<div class="container dark_liver p-4 mt-4">
  <header class="pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <img src="/assets/logo.png" alt="" srcset="">
    </a>
  </header>

  <div class="p-5 mb-4 piriwinkle_crayola rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Jugá Online</h1>
      <p>Te presentamos Diferentes Juegos Tradicionales Para Pasar el Rato, Poné a Prueba tus Habilidades</p>
      <button class="btn c_desert_sand dark_liver btn-lg" routerLink="/juegos" type="button">Panel de Juegos</button>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>Chat</h2>
        <p>Chateá con tus Amigos</p>
        <button class="btn btn-outline-light" type="button" routerLink="/chat" >Registrate</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Encuesta</h2>
        <p>Completa la Encuesta, tu Opinón nos Interesa.</p>
        <button class="btn btn-outline-secondary" type="button" routerLink="encuestas/alta" >Encuesta</button>
      </div>
    </div>
  </div>
