<div class="row m-3">
    <div class="col-3"></div>
    <div class="col-6">
        <mat-card class="example-card">

            <mat-card-actions>
                <div class="row">
                    <div class="col-2">
                        <button mat-raised-button color="accent" (click)="allClear()">INICIAR</button>
                    </div>
                    <div class="col-2">
                        <button mat-raised-button color="accent" (click)="allClear()">REINICIAR</button>
                    </div>
                    <div class="col-3">
                        <mat-card> Aciertos : {{ cantAciertosDisplay }}</mat-card>
                    </div>
                    <div class="col-3">
                        <label for="">Cuantos aciertos haces :</label>
                        <mat-form-field class="example-full-width">
                            <mat-label>Objetivo de Aciertos : </mat-label>
                            <input type="number" matInput placeholder="Ingresá la Cantidad : " value=""  [(ngModel)]="cantAciertosDesafiados" >
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-actions>

            <mat-card-header>
                <mat-card-title>{{ display }}</mat-card-title>
                <mat-card-title>{{ respuestaDisplay }}</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div class="row">
                    <div class="col-4 mt-2" *ngFor="let item of list" (click)="cargarNroPulsado(item)">
                        <button mat-raised-button color="primary" [disabled]="deshabilitaBotones">
                            {{ item }}
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 mt-2" (click)="cargarNroPulsado(0)">
                        <button mat-raised-button color="primary" [disabled]="deshabilitaBotones">
                            0
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-3">
        <div class="jumbotron bg-info  jumbotron-fluid">
            <div class="container p-3 my-3 text-white p-3">
                <h1>Resultado : </h1>
                <h2>{{ mensaje }}</h2>
            </div>
        </div>
    </div>
</div>