<div class="row">
  <div class="col-md-10 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">Completá tus datos</h1>
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

          <div class="row">
            <div class="col-sm-6">

              <div class="form-group">
                <label for="password">Nombre</label>
                <input type="text" class="form-control" formControlName="nombre" (click)="resetError()" />
              </div>

              <div
                *ngIf="registerForm.get('nombre').invalid && showErrors"
                class="alert alert-danger mt-2">
                <div *ngIf="registerForm.get('nombre').errors?.required">
                  Este campo es requerido.
                </div>
                <div *ngIf="registerForm.get('nombre').errors?.maxlength">
                  No mas de 40 caracteres.
                </div>
                <div *ngIf="registerForm.get('nombre').errors?.minlength">
                  Por lo menos 2 caracteres.
                </div>
                <div *ngIf="registerForm.get('nombre').errors?.pattern">
                  Ingrece solo letras.
                </div>
              </div>

            </div>

            <div class="col-sm-6">

              <div class="form-group">
                <label for="password">Apellido</label>
                <input type="text" class="form-control" formControlName="apellido" (click)="resetError()" />
              </div>

              <div
                *ngIf="registerForm.get('apellido').invalid && showErrors"
                class="alert alert-danger mt-2">
                <div *ngIf="registerForm.get('apellido').errors?.required">
                  Este campo es requerido.
                </div>
                <div *ngIf="registerForm.get('apellido').errors?.maxlength">
                  No mas de 40 caracteres.
                </div>
                <div *ngIf="registerForm.get('apellido').errors?.minlength">
                  Por lo menos 2 caracteres.
                </div>
                <div *ngIf="registerForm.get('apellido').errors?.pattern">
                  Ingrece solo letras.
                </div>
              </div>

            </div>
          </div>

          <div class="row">

            <div class="col-sm-6">
              <div class="form-group">
                <label for="password">DNI</label>
                <input type="text" class="form-control" formControlName="dni" (click)="resetError()" />
              </div>

              <div
                *ngIf="registerForm.get('dni').invalid && showErrors"
                class="alert alert-danger mt-2">
                <div *ngIf="registerForm.get('dni').errors?.required">
                  Este campo es requerido.
                </div>
                <div *ngIf="registerForm.get('dni').errors?.maxlength">
                  No mas de 8 digitos.
                </div>
                <div *ngIf="registerForm.get('dni').errors?.minlength">
                  Por lo menos 7 digitos.
                </div>
                <div *ngIf="registerForm.get('dni').errors?.pattern">
                  Ingrece solo numeros.
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label for="rol">Rol</label>
                <select class="form-control" formControlName="role" aria-label="Default select example" (click)="resetError()">
                  <option value="USUARIO">Usuario</option>
                  <option value="ADMINISTRADOR">Administrador</option>
                </select>
                </div>

              <div
                *ngIf="registerForm.get('dni').invalid && showErrors"
                class="alert alert-danger mt-2">
                <div *ngIf="registerForm.get('dni').errors?.required">
                  Este campo es requerido.
                </div>
                <div *ngIf="registerForm.get('dni').errors?.maxlength">
                  No mas de 8 digitos.
                </div>
                <div *ngIf="registerForm.get('dni').errors?.minlength">
                  Por lo menos 7 digitos.
                </div>
                <div *ngIf="registerForm.get('dni').errors?.pattern">
                  Ingrece solo numeros.
                </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-sm-6">

              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" formControlName="email" />
              </div>

              <div
                *ngIf="registerForm.get('email').invalid && showErrors"
                class="alert alert-danger mt-2">
                <div *ngIf="registerForm.get('email').errors?.required">
                  Este campo es requerido.
                </div>
                <div *ngIf="registerForm.get('email').errors?.email">
                  Debe ingresar un mail valido.
                </div>
                <div *ngIf="registerForm.get('email').errors?.minlength">
                  Por lo menos 6 digitos.
                </div>
                <div *ngIf="registerForm.get('email').errors?.maxlength">
                  No mas de 90 digitos.
                </div>
              </div>

            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="password">Clave</label>
                <input type="password" class="form-control" formControlName="password" />
              </div>

              <div
                *ngIf="registerForm.get('password').invalid && showErrors"
                class="alert alert-danger mt-2">
                <div *ngIf="registerForm.get('password').errors?.required">
                  Este campo es requerido.
                </div>
                <div *ngIf="registerForm.get('password').errors?.minlength">
                  Por lo menos 6 digitos.
                </div>
                <div *ngIf="registerForm.get('password').errors?.maxlength">
                  No mas de 40 digitos.
                </div>

              </div>
            </div>

          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            Register
          </button>
        </form>
        <div class="form-group mt-3">
          <p>Do you have an account?<a [routerLink]="['/login']"> Login </a></p>
        </div>
      </div>
    </div>
  </div>
</div>
