<app-sticky></app-sticky>

<nav class="navbar navbar-expand-sm dark_liver navbar-dark sticky-top">
  <a class="navbar-brand" href="/home">
    <img src="/assets/logo.png" alt="" srcset="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">HOME
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/chat">CHAT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/jugadas">JUGADAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/juegos">PANEL</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">JUEGOS</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="juegos/ppt">Piedra Papel o Tijera</a>
          <a class="dropdown-item" routerLink="juegos/tateti">TA TE TI</a>
          <a class="dropdown-item" routerLink="juegos/memotest">Memotest</a>
          <a class="dropdown-item" routerLink="juegos/memoriza">Memorizá</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/juegos">Panel</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">ENCUESTAS</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="encuestas/alta">Completrar Encuesta</a>
          <a class="dropdown-item" routerLink="encuestas/listado">Listado Encuestas</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">ABOUT</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" *ngIf="user$ | async as user; else login">
      <li class="nav-item dropdown nav-link-chico">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
           {{ user.email }}
        </a>
        <!-- 

                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img class="avatar" src="/assets/avatar/dott.jpg" alt="" srcset=""> {{ user.email }}
        </a>

        -->
        <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink='/pacientePerfil'>Mi perfil</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/juegos">Panel de Juegos</a>
          <a class="dropdown-item" routerLink="/chat">Chat</a>
          <a class="dropdown-item" routerLink="encuestas/alta">Encuesta</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="" (click)="onLogout()">Logout</a>
        </div>
      </li>
    </ul>
    <ng-template #login>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/registro">Registro</a>
        </li>
      </ul>
    </ng-template>
  </div>
</nav>