<div class="container p-3">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-subtitle>Fecha y Hora : {{ encuesta.fecha }} </mat-card-subtitle>
            <mat-card-title>Nombre y Apellido : {{ encuesta.nombre }} {{ encuesta.apellido }}</mat-card-title>
            <mat-card-subtitle>Edad y Sexo : {{ encuesta.edad }} {{ encuesta.sexo }} </mat-card-subtitle>
            <mat-card-subtitle>Telefono : {{ encuesta.telefono }} </mat-card-subtitle>
            <mat-card-subtitle> Comentario : </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="container">
                <p>
                    {{ encuesta.comentario }}
                </p>
            </div>
        </mat-card-content>
    </mat-card>
</div>